
<%= tag.p do %>
  <%= f.check_box :is_public if [@project.project_type&.master&.name, 'Masterobjekte'].include?(@project.name) %>
  <% if @project.is_public? %>
    <div class='warning mt-2'>
      <%= Setting.login_required? ? l(:text_public_project_type_visibility_non_member) : l(:text_public_project_type_visibility_anonymous) %>
    </div>
  <% else %>
    <em class="info"><%= Setting.login_required? ? l(:text_project_is_public_non_member) : l(:text_project_is_public_anonymous) %></em>
  <% end %>
<% end %>


