
<% if @project.project_custom_fields&.any? || @project.project_type&.project_custom_fields&.any? %>
  <div id='project_custom_fields'>
    <%= render partial: 'projects/fields' , locals: { project: @project } %>
  </div>
<% end %>
