/* Admin Menu Icon */
.icon-types { 
	background-image: url(../images/types.png);
	background-size:contain;
}
.icon.icon-types.project-types.selected,
#admin-menu .icon.icon-types.project-types{
	background-size:15px;
}
/* Project Type Index Table */
table.list.project_types td.center {
  text-align: center;
}
/* Padding */
.controller-custom_fields .splitcontentright div.pad-1 {
	padding-bottom: 1rem;
}
/* Required Asterix */
label.required:after {
    content: " *";
    color: red;
}